🚨 **{{ alert.alertname }}**

{% if alert.summary %}{{ alert.summary }}
{% endif %}
{% if alert.description %}
{{ alert.description }}
{% endif %}

{% if alert.panel_url %}[Открыть панель Grafana]({{ alert.panel_url }})
{% elif alert.dashboard_url %}[Открыть Grafana]({{ alert.dashboard_url }})
{% endif %}