{% set firing = group.alerts
    | selectattr('status', 'equalto', 'firing')
    | list
%}

{% set resolved = group.alerts
    | selectattr('status', 'equalto', 'resolved')
    | list
%}

{% if firing %}
🚨 **{{ firing[0].alertname }} — {{ firing|length }} активных**

{% for alert in firing %}
**{{ loop.index }}.{% if alert.is_new %} 🆕{% endif %} {{ alert.summary }}**
{% if alert.description %}{{ alert.description }}{% endif %}

{% endfor %}
{% endif %}

{% if resolved %}
✅ **Устранено — {{ resolved|length }}**

{% for alert in resolved %}
{{ alert.summary }}
{% endfor %}
{% endif %}